<h1><%= @user %></h1>

<div class="row">
  <div class="large-12 columns">
    <dl>
      <dt>Name</dt>
      <dd><%= @user.name %></dd>

      <dt>Email</dt>
      <dd><%= mail_to @user.email %></dd>

      <dt>GitHub</dt>
      <dd><%= link_to @user.github, "https://github.com/#{@user.github}" %></dd>

      <dt>Teacher?</dt>
      <dd><%= @user.teacher? %></dd>

      <dt>Authorized?</dt>
      <dd><%= @user.authorized? %></dd>
    </dl>
  </div>

  <div class="large-7 columns">
    <h2>Help Requests</h2>
    <%= render :partial => "help_requests/help_requests", :object => @user.help_requests.unresolved %>
  </div>

  <div class="large-5 columns">
    <h2>GitHub Repos</h2>
    <div id="github-repos" data-user="<%= @user.github %>">Loading...</div>
  </div>
</div>

