<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <% if current_user %>
    <meta name="current_user" data-github="<%= current_user.github %>">
  <% end %>

  <title><%= content_for?(:title) ? yield(:title) : "Classboard" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render "topbar" %>
  <%= alert_box alert, "alert" %>
  <%= alert_box notice %>

  <div class="row" id="main">
    <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>